In [27]:
import pandas as pd
import statistics as stats
import numpy as np

In [28]:
import matplotlib as plt

In [29]:
data=pd.DataFrame({
    "salary":[324234,546456,23434554,768645,32434545675,657678768]
})

In [30]:
data

        salary
0       324234
1       546456
2     23434554
3       768645
4  32434545675
5    657678768

In [31]:
df=data.to_csv('data.csv')

In [32]:
df

In [33]:
df=pd.read_csv('data.csv')

In [ ]:
df

In [35]:
mean1=df.mean()

In [36]:
mean1

Unnamed: 0    2.500000e+00
salary        5.519550e+09
dtype: float64

In [37]:
mode1=df.mode()

In [38]:
mode1

   Unnamed: 0       salary
0           0       324234
1           1       546456
2           2       768645
3           3     23434554
4           4    657678768
5           5  32434545675

In [39]:
median1=df.median()

In [40]:
median1

Unnamed: 0           2.5
salary        12101599.5
dtype: float64

In [41]:
mean2=stats.mean(data1)

In [42]:
data1=[43,5464,2345456,4656,23435]

In [43]:
data1

[43, 5464, 2345456, 4656, 23435]

In [44]:
mean2

475810.8

In [45]:
mode2=stats.mode(data1)

In [46]:
mode1

   Unnamed: 0       salary
0           0       324234
1           1       546456
2           2       768645
3           3     23434554
4           4    657678768
5           5  32434545675

In [47]:
median2=stats.median(data1)

In [48]:
median2

5464

In [49]:
std=stats.stdev(data1)

In [50]:
std

1045201.5350709643

In [54]:
mean3=np.mean(data1)

###

In [55]:
mean3

np.float64(475810.8)

mode3=np.mode(data1)

In [59]:
median3=np.median(data1)

In [61]:
median3

np.float64(5464.0)

In [62]:
std3=np.std(data1)

In [63]:
std3

np.float64(934856.6730423226)